html {
    background: url(img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}
#about div p{
    padding: 25px;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    margin: 0 auto;
    padding: 25px 75px;
    border-radius: 10px;
}
.background {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}
.title {
    font-size: 3em;
    color: white;
    margin: 5em  0 auto;
    text-align: center;
}
header {

    font-family: "gloockregular", serif;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px
}
.header{

    color: white;
}
@font-face {
    font-family: 'gloockregular';
    src: url('Font Families/Gloock/gloock-regular-webfont.woff2') format('woff2'),
    url('Font Families/Gloock/gloock-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
a{

}

☻h1 {
    color: rgb(70, 16, 16);
}
h2 {
    color: rgb(219, 124, 0);
    text-decoration: underline;
}
h1,
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
